.git_ignore
node_modules
.env
.idea
datagenerator/.idea/workspace.xml
datagenerator/__pycache__/dbpopulator.cpython-37.pyc
datagenerator/__pycache__/itemdata.cpython-37.pyc
.vscode

CS2102Database-884770acdb88.json
public/images/uploads
keyfile.json
