<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS for Styling -->
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/chat.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="javascripts/chatScript.js"></script>
    <%
    const getPlaceholderImg = () => {
        return ('https://randomuser.me/api/portraits/med/'
            + (Math.random()>0.5 ? 'men/' : 'women/')
            + (Math.floor(Math.random() * 80)+10)
            + '.jpg');
    }
    %>
</head>

<body>
    <div id="chat-open-btn" class="absolute-btn" style>
        <span class="fa fa-comment" aria-hidden="true"></span>
    </div>
    <div id="chat-window" class="absolute" style="display: none">
        <div class="chat-top">
            <img src="<%=getPlaceholderImg()%>" class="chat-img"/>
            <div class="chat-name"><%=data.username%></div>
            <button class="chat-close">
                <span class="fa fa-minus" aria-hidden="true"></span>
            </button>
        </div>
        <div id="cwnd" class="chatwindow">
            
        </div>
        <div class="chatbox">
            <input placeholder="Enter text here..." />
        </div>
    </div>
</body>
</html>
