<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Forms and Interaction</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->   
		<script src="javascripts/formsScript.js"></script>
  </head>
  
  <body>
    <h1>CS2102: <%= title%></h1>
		<form>
			<div class="form-group">
				<label for="matric">Matric Number</label>
				<input class="form-control" id="matric" aria-describedby="matricHelp" placeholder="Enter your matric number">
				<small id="matricHelp" class="form-text text-muted">Do not share your matric number with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" id="name" placeholder="Enter your name">
			</div>
			<div class="form-group">
				<label for="faculty">Faculty</label>
				<input class="form-control" id="faculty" placeholder="Enter your faculty">
			</div>
			<button type="submit" class="btn btn-primary" onclick="show()">Submit</button>
		</form>
		<h3>CODE:</h3>
		<code class="language-html" data-lang="html">
		&lt;form&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="matric"&gt;Matric Number&lt;/label&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input class="form-control" id="matric" aria-describedby="matricHelp" placeholder="Enter your matric number"&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;small id="matricHelp" class="form-text text-muted"&gt;Do not share your matric number with anyone else.&lt;/small&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;/div&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="name"&gt;Name&lt;/label&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input class="form-control" id="name" placeholder="Enter your name"&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;/div&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="faculty"&gt;Faculty&lt;/label&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input class="form-control" id="faculty" placeholder="Enter your faculty"&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;/div&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;div class="form-check"&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="checkbox" class="form-check-input" id="exampleCheck1"&gt;<br />
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label class="form-check-label" for="exampleCheck1"&gt;I agree to bla.. bla.. bla..&lt;/label&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;/div&gt;<br />
		&nbsp; &nbsp; &nbsp; &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;<br />
		&lt;/form&gt;
		</code>
  </body>
</html>
