<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Stuff Sharing</title>

    <!-- CSS for Styling -->
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="heading">Stuff Sharing</h1>
    <div class="login-page">
        <div class="form">
            <form class="register-form" id="register" action="reg" role="form" method="post">
                <input type="username" placeholder="name" name="username" />
                <input type="password" placeholder="password" name="password" />
                <input type="email" placeholder="email address" name="email" />
                <button type="submit" class="signup">create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form" id="login" action="login" role="form" method="post">
             <% if (message) { %>
                 <p id="msg"><%= message %></p>
             <% } %>
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" placeholder="username" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="password" />
                </div>
                <button type="submit" class="btn btn-primary">login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <!-- Query Code -->
    <script src="javascripts/indexScript.js"></script>
</body>

</html>