  /* Review Forms  */
  .star {
    width: 32px;
    height: 32px;
    transition: .6s all;
  }

  #rating {
    cursor: pointer;
    display: inline-block;
  }

  #review-form {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }

  #review-form .input-group-addon {
    min-width: 100px;
  }
  #review-form .btn {
    min-width: 100px;
  }
  #review-form input[type="text"],
  #review-form textarea {
    width: 100%;
  }
  #review-form .form-group {
    margin-bottom: 5px;
    text-align: left;
  }
  #review-form .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 100%;
  }
  
  blockquote {
    border-left: 5px solid rgb(238, 238, 238);
    padding-left: 20px;
  }
  
  blockquote .footer{
    display: block;
    font-size: 100%;
  }

  .stars-container {
    margin-bottom: 5px;
  }

  .bid-btn {
    color: #fff !important;
  }

  /* Popup box BEGIN */
.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}

.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color:#ff7867;
  color: white;
  font-weight: bold;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}