.glyphicon { margin-right:5px; }

.bidding {
    font: 100;
    font-style: italic;
    color: darkblue;
}

.bid-btn {
    color: #fff !important;
    width: 100%;
}

.btn-container > * {
    font-size: 0.8em !important;
}

/* For Reviews */

  .main-title {
    flex: 1;
    align-items: flex-start;
    text-align: left;
    padding-bottom: 0em;
  }
  .main-title p {
    text-align: left;
    color: #333;
  }

  .reviews {
    flex: 1;
    flex-direction: row;
    flex-shrink: 1;
    padding: 0.5em 1.5em;
  }
  
  .review-details {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .review-details img {
    width: 54px;
    height: 54px;
    margin-right: 24px;
    margin-right: 1.5em;
    border-radius: 50%;
  }
  .review-details p {
    margin: 0;
  }
  
  .review-author {
    font-weight: bold;
  }
  .review-date {
    color: #b6c2cc;
  }
  .review-star {
    color: #b6c2cc;
  }
  .review-star--active {
    color: #ff7867;
  }
  
  .review-body {
    flex: 1;
  }
  
  .review-body .review-title + p {
    margin-top: 0;
  }
  
  .reviews-none {
    flex: 1;
  }
  
  .reviews-none p {
    text-align: center;
    font-style: italic;
    font-size: 0.85em;
  }
  
/* rating stars */

.star-rating-container {
  font-family: icomoon;
  font-size: 50px;
  color: #ff5e00;
  position: relative;
  display: inline-block;
  opacity: 0.7;
  text-shadow: 1px 1px grey;
}
.star-rating:before {
      content: "★★★★★";
  }
.star-rating-on {
  position: relative;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
}
.star-rating-off {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(128, 122, 122);
}

.stars {
  position: relative;
  margin-inline-end: 7%;
  }
  
  