.glyphicon { margin-right:5px; }

.bidding {
    font: 100;
    font-style: italic;
    color: darkblue;
}

.bid-btn {
    color: #fff !important;
    width: 100%;
}

.btn-container > * {
    font-size: 0.8em !important;
}
